################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/QtVtkDemo/v16
/QtVtkDemo/.vs/QtVtkDemo
/QtVtkDemo/32bit
/QtVtkDemo/32bit-Debug
/QtVtkDemo/debug
